<%- include(`./partials/head.ejs`) %>
<body>
    <h1>Edit Post</h1>
    <fieldset>
        <% if (m.name.length !== 0) { %>
            <legend><%= m.name %></legend>
        <% } %> 
        <% if (m.image.length !== 0) { %>
            <img src="<%= m.image %>" width="100%">
        <% } %>
        <% if (m.text.length !== 0) { %>
            <div><%= m.text %></div>
        <% } %>
    </fieldset>
    <br><br>
    <form id="editMessage" action="/newsfeed/<%= m._id %>?_method=PUT" method="POST">
        <fieldset>
            <br>
            <input type="text" name="name" placeholder="What's your name?" autofocus maxlength="20" value="<%= m.name %>">
            <br>
            <input type="url" name="image" placeholder="Paste an image URL" value="<%= m.image %>">
            <br>
            <textarea rows="3" cols="32" name="text" placeholder="Write something" maxlength="280"><%= m.text %></textarea>
            <br>
            Desktop? Drag this corner to enlarge ↑
        </fieldset>
    </form>
    <div class="buttonArray">
        <a href="/newsfeed">
            <img class="icon" src="https://cdn-icons-png.flaticon.com/128/9283/9283081.png" alt="Cancel">
        </a>
        <input form="editMessage" type="image" class="icon" src="https://cdn-icons-png.flaticon.com/128/9283/9283072.png" alt="Save changes">
    </div>
</body>
</html>