<%- include(`./partials/head.ejs`) %>
<body>
    <h1>Message Board</h1>
    <% messages.forEach(m => { %> 
        <a href="/newsfeed/<%= m._id %>" class="indexLinks">
            <fieldset>
                <% if (m.name.length !== 0) { %>
                    <legend><%= m.name %></legend>
                <% } %> 
                <% if (m.image.length !== 0) { %>
                    <img src="<%= m.image %>" width="100%">
                <% } %>
                <% if (m.text.length !== 0) { %>
                    <div><%= m.text %></div>
                <% } %>
            </fieldset>
        </a>
        <div class="buttonArray">
            <form action="#">
                <input type="image" class="icon" src="https://cdn-icons-png.flaticon.com/128/9283/9283262.png" alt="Heart">
            </form>
            <a href="#"><img class="icon" src="https://cdn-icons-png.flaticon.com/128/9283/9283066.png" alt="Comment"></a>
            <a href="/newsfeed/<%= m._id %>"><img class="icon" src="https://cdn-icons-png.flaticon.com/128/9283/9283379.png" alt="Show"></a>
        </div>
    <% }) %> 
    <p>By Alex Westerlund</p>
    <p>Icons by <a href="https://www.flaticon.com/authors/ta-if-tkn">TA iF TKN</a></p>
</body>
</html>