<%- include(`./partials/head.ejs`) %>
<body>
    <h1>Message Board</h1>
        <% messages.forEach(m => { %> 
            <a href="/newsfeed/<%= m._id %>" class="indexLinks">
                <fieldset>
                    <% if (m.name.length !== 0) { %>
                        <legend><%= m.name %></legend>
                    <% } %> 
                    <% if (m.image.length !== 0) { %>
                        <img src="<%= m.image %>" width="100%">
                    <% } %>
                    <% if (m.text.length !== 0) { %>
                        <div><%= m.text %></div>
                    <% } %>
                </fieldset>
            </a>
            <div class="buttonArray">
                <div class="editButton">
                    <a href="/newsfeed/<%= m._id %>/edit"><img src="https://cdn-icons-png.flaticon.com/512/5380/5380083.png" alt="Edit" height="22px"></a>
                </div>
                <div class="deleteButton">
                    <form action="/newsfeed/<%= m._id %>?_method=DELETE" method="POST">
                        <input type="image" src="https://cdn-icons-png.flaticon.com/512/5369/5369422.png" alt="Delete" height="22px">
                    </form>
                </div>
            </div>
        <% }) %> 
</body>
</html>